@import 'Variables/Variables';

.wrapper {
  width: 100%;
  min-height: 100%;
  font-family: $font-family;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
//._ibg {
//   position: relative;
//}
//._ibg img {
//  position : absolute;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  object-fit: cover;
//  z-index: 4;
//}
//header////////////////////////////

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 108px;
    align-items: center;

    @media (max-width:767px){
      height: 80px;

    }

    .header__logo{
      flex: 0 0 102px;
      position: relative;
      z-index: 3;

      @media (max-width:767px){
        flex: 0 0 80px;
        order: 1;
      }

      & img {
        max-width: 100%;
      }
    }
    .header__burger{
        display: none;

        @media (max-width:767px){
          display: block;
          position: relative;
          width: 30px;
          height: 20px;
          z-index: 3;
          order: 3;

          & span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
          }

          &:before,
          &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
          }

          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
        }
    }
    .header__menu{

      .header__list{
        display: flex;
        position: relative;
        z-index: 2;

        @media (max-width:767px){
          display: block;
        }


        & li {
          margin: 0 0 0 40px;

          @media (max-width:767px){
            margin: 0 0 20px 0;
          }
        }
        .header__link{
          color: $base-font-color;
          font-size: $header-font-size;
          font-weight: 500;
          line-height: 81.75%;


          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media (max-width:767px){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #018FA3;
        padding: 100px 10px 20px 10px;
      }
    }
    .header__contact {
      width: 196px;
      height: 40px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;

      @media (max-width:767px){
        order: 2;
      }


      .header__phone {
        font-size: 18px;
        font-weight: 600;
        line-height: 81.81%;
        color: $base-font-color;
        margin: 0 0 0 8px;
      }
    }
  }


}

//main-banner//////////////////////
.page-main-banner {
  position: relative;
  height: 880px;
  width: 100%;
  padding: 87px 0 0 0  ;

   .banner__container{
    position: relative;
  }

  .banner-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 664px;

    .banner-block__title {
      font-family: $font-family;
      font-weight: 600;
      font-size: 48px;
      line-height: 120.83%;

      & span {
        color: $base-color-blue;
      }

    }

    .banner-block__text {
      color: #737373;
      font-size: 24px;
      line-height: 120.83%;
      max-width: 532px;
    }

    .banner-block__buttons {
      display: flex;
      flex-wrap: wrap;
      margin: -10px 0;

      .banner-block__button {
        border-radius: 37px;
        display: flex;
        min-height: 48px;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
        font-weight: 700;
        text-align: center;
        line-height: 150%;
        padding: 5px 36px;
        margin: 10px 0;
        transition: all 0.3s ease 0s;
      }
      .banner-block__button_yellow {
        background: $base-color-yellow;
        color: $base-font-color;

        &:hover{
          opacity: 0.8;
        }
      }


    }
  }

  .banner-block__body > *:not(:last-child){
    margin: 0 0 44px 0;
  }

  .main-banner__image-boy{
    position: absolute;
    top: -90px;
    right: -80px;
    z-index: 3;
  }

  .main-banner__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }


}

//aboutUs=======================================================
.aboutUs {
  margin: 127px 0 0 0;
  .aboutUs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 840px;


    .aboutUs__container_item {
      position: relative;

      .item__text-first {
        .text-first__bg {
          position: absolute;
          max-width: 547px;
          max-height: 256px;
          top: 0;
          right: 0;

          & img {
            width: 100%;
          }
        }
        .text-first {
          position: absolute;
          max-width: 460px;
          font-size: 24px;
          font-weight: 400;
          line-height: 122.29%;
          top: 76px;
          right: 30px ;
          z-index: 2;
        }
      }

      .item__text-last {
        .text-last__bg {
          position: absolute;
          max-width: 547px;
          max-height: 256px;
          bottom: 0;
          left: 0;

          & img {
            width: 100%;
          }
        }
        .text-last{
          position: absolute;
          max-width: 460px;
          font-size: 24px;
          font-weight: 400;
          line-height: 122.29%;
          bottom: 45px;
          left: 0;
          z-index: 2;
        }
      }

      .item__img-kids, .item__img-class {
        position: absolute;
        max-width: 488px;
        border-radius: 30px;
        overflow: hidden;



        & img {
          //display: block;
          width: 100%;
        }
      }
      .img-class {
        top: 0;
        right: 32px;
      }
      .img-kids {
        bottom: 32px;
        left: 32px;
      }
    }
  }
}






.border__kids {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 488px;
  height: 343px;
  z-index: 0;
}

.border-rect__kids {
  stroke: $base-color-blue;
  fill: #fff;
  stroke-width: 4;
  stroke-dasharray: 20;
}


.border__class {
  position: absolute;
  top: 32px;
  right: 0;
  width: 488px;
  height: 343px;
  z-index: 0;
}

.border-rect__class {
  stroke: $base-color-blue;
  fill: #fff;
  stroke-width: 4;
  stroke-dasharray: 20;
}



