@import 'Variables/Variables';

.wrapper {
  width: 100%;
  min-height: 100%;
  font-family: $font-family;
  overflow: hidden;

}

.container {
  max-width: 1260px;
  margin: 0 auto;

}

.base-color-blue {
  background-color: $base-color-blue;
}
.base-color-purple {
  background-color: $base-color-purple;
}
.base-color-green {
  background-color: $base-color-green;
}
.base-color-yellow {
  background-color: $base-color-yellow;
}
.base-color-pink {
  background-color: $base-color-pink;
}
.base-color-orange {
  background-color: $base-color-orange;
}

//header////////////////////////////

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 108px;
    align-items: center;

    @media (max-width:767px){
      height: 80px;
    }

    .header__logo{
      flex: 0 0 102px;
      position: relative;
      z-index: 3;

      @media (max-width:767px){
        flex: 0 0 80px;
        order: 1;
      }

      & img {
        max-width: 100%;
      }
    }
    .header__burger{
        display: none;

        @media (max-width:767px){
          display: block;
          position: relative;
          width: 30px;
          height: 20px;
          z-index: 3;
          order: 3;

          & span {
            position: absolute;
            background-color: $base-font-color;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
          }

          &:before,
          &:after {
            content: '';
            background-color: $base-font-color;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
          }

          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
        }
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .header__burger.active span {
      transform: scale(0);
    }
    .header__menu{

      .header__list{
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 2;

        @media (max-width:992px){
          gap: 30px;
        }
        @media (max-width:860px){
          gap: 20px;
        }

        @media (max-width:767px){
          display: block;
        }


        & li {
          @media (max-width:767px){
            margin: 0 0 20px 0;
          }
        }
        .header__link{
          color: $base-font-color;
          font-size: $header-font-size;
          font-weight: 500;
          line-height: 81.75%;


          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media (max-width:767px){
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 100px 10px 20px 10px;
        transition: all 0.3s ease 0s;
      }
    }

    .header__menu.active {
      top: 0;
    }
    .header__contact {
      z-index: 2;
      @media (max-width:767px){
        order: 2;
      }

      .header__phone {
        display: flex;
        justify-content: right;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
        line-height: 81.81%;
        color: $base-font-color;
        align-items: center;
        padding-left: 48px;
        background: url("/img/header/icon/phone.svg") left no-repeat;
        background-size: contain;

        @media (max-width: 992px){
          height: 30px;
          padding-left: 38px;
          font-size: $header-font-size;
          font-weight: 500;
          margin: 0 0 0 6px;
        }
        @media (max-width: 860px){
          height: 25px;
          padding-left: 30px;
          font-size: 14px;
          font-weight: 400;
          margin: 0 0 0 4px;
        }
        @media (max-width:767px){
          height: 20px;
          padding-left: 28px;
        }
      }
    }
  }
}

//main-banner//////////////////////
.page-main-banner {
  position: relative;
  max-height: 860px;
  width: 100%;
  padding: 87px 0 0 0  ;


   .banner__container{
     position: relative;
     background: left  no-repeat url("/img/banner/banner-bg.png");
     background-size: contain;
  }

  .banner-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 664px;

    @media (max-width: 1200px){
      padding: 100px 0 160px 0;
    }
    @media (max-width: 992px){
      padding: 50px 0 100px 0;
    }
    @media (max-width: 767px){
      padding: 30px 0 80px 0;
    }
    @media (max-width: 640px){
      padding: 0 0 80px 0;
    }

    .banner-block__title {
      font-family: $font-family;
      font-weight: 600;
      font-size: 48px;
      line-height: 120.83%;

      @media (max-width: 1200px){
        font-weight: 500;
        font-size: 40px;
      }
      @media (max-width: 992px){
        font-size: 35px;
      }
      @media (max-width: 767px){
        font-size: 30px;
      }

      & span {
        color: $base-color-blue;
      }

    }

    .banner-block__text {
      font-size: 24px;
      line-height: 120.83%;
      max-width: 532px;

      @media (max-width: 992px){
        font-size: 20px;
        max-width: 500px;
      }
      @media (max-width: 767px){
        font-size: 18px;
        max-width: 460px;
      }
      @media (max-width: 640px){
        max-width: 340px;
      }
    }

    .banner-block__buttons {
      display: flex;
      flex-wrap: wrap;
      margin: -10px 0;


      .banner-block__button {
        border-radius: 37px;
        display: flex;
        min-height: 48px;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
        font-weight: 700;
        text-align: center;
        line-height: 150%;
        padding: 5px 36px;
        margin: 10px 0;
        transition: all 0.3s ease 0s;
        box-shadow: 0 20px 40px -27px rgba(0, 0, 0, 0.15);
      }
      .banner-block__button_yellow {
        background: $base-color-yellow;
        color: $base-font-color;


        &:hover{
          opacity: 0.8;
        }
      }


    }
  }

  .banner-block__body > *:not(:last-child){
    margin: 0 0 44px 0;
  }

  .main-banner__image-boy{
    position: absolute;
    width: 100%;
    height: 120%;
    background : url('/img/banner/boy.png') right no-repeat;
    background-size: contain;

    //max-height: 100%;
    top: -90px;
    right: -80px;
    z-index: 1;

    @media (max-width: 620px) {
      opacity: 0.7;
    }



  }

  .main-banner__image {
    position: absolute;
    width: 100%;
    height: 100%;
    //background: center  no-repeat url("/img/banner/banner-bg.png");
    background-size: contain;
    top: 0;
    left: 0;
    //object-fit: cover;
  }


}

//aboutUs=======================================================
.aboutUs {
  margin: 127px 0 0 0;

  @media (max-width: 992px) {
    margin: 60px 0 0 0;
  }


  .aboutUs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    width: 100%;
    height: 840px;

    @media (max-width: 1200px) {
      height: 760px;
    }
    @media (max-width: 992px) {
      height: 680px;
    }
    @media (max-width: 880px) {
      height: 620px;
    }
    @media (max-width: 820px) {
      height: 600px;
    }
    @media (max-width: 780px) {
      height: 560px;
    }

    .aboutUs__container_item {
      position: relative;



      .item__text-first {
        width: 100%;
        height: 100%;
        background: url("/img/aboutUs/bg_1.png") top no-repeat;
        background-size: contain;

        .text-first {
          position: absolute;
          max-width: 460px;
          font-size: 24px;
          font-weight: 400;
          line-height: 29.35px;
          top: 76px;
          right: 30px ;
          z-index: 2;

          @media (max-width: 1200px){
            max-width: 460px;
          }
          @media (max-width: 992px){
            //max-width: 350px;
            font-size: 22px;
            top: 40px;
            left: 0 ;
          }
          @media (max-width: 767px){
            //max-width: 350px;
            font-size: 20px;
            top: 30px;

          }
          @media (max-width: 640px){
            //max-width: 350px;
            font-size: 20px;
            top: 20px;

          }
        }
      }
      //.border__kids {
      //  position: absolute;
      //  bottom: 0;
      //  left: 0;
      //  width: 488px;
      //  height: 343px;
      //  z-index: 0;
      //
      //  @media (max-width: 1200px){
      //    width: 448px;
      //    height: 303px;
      //  }
      //  @media (max-width: 992px){
      //    width: 408px;
      //    height: 263px;
      //  }
      //  @media (max-width: 880px){
      //    width: 368px;
      //    height: 223px;
      //  }
      //  @media (max-width: 820px){
      //    width: 328px;
      //    height: 183px;
      //  }
      //  @media (max-width: 767px){
      //    width: 308px;
      //    height: 163px;
      //  }
      //  @media (max-width: 680px){
      //    width: 268px;
      //    height: 123px;
      //  }
      //
      //  .border-rect__kids {
      //    stroke: $base-color-blue;
      //    fill: #fff;
      //    stroke-width: 4;
      //    stroke-dasharray: 20;
      //  }
      //}
      //.border__class {
      //  position: absolute;
      //  bottom: 30px;
      //  right: 0;
      //  width: 488px;
      //  height: 343px;
      //  z-index: 0;
      //
      //
      //  @media (max-width: 1200px){
      //    width: 448px;
      //    height: 303px;
      //    bottom: 0;
      //
      //  }
      //  @media (max-width: 992px){
      //    width: 408px;
      //    height: 263px;
      //  }
      //  @media (max-width: 880px){
      //    width: 368px;
      //    height: 223px;
      //    bottom: 20px;
      //  }
      //  @media (max-width: 820px){
      //    width: 328px;
      //    height: 183px;
      //  }
      //  @media (max-width: 767px){
      //    width: 308px;
      //    height: 163px;
      //  }
      //  @media (max-width: 680px){
      //    width: 268px;
      //    height: 123px;
      //    bottom: 40px;
      //  }
      //  @media (max-width: 680px){
      //    width: 268px;
      //    height: 123px;
      //    bottom: 60px;
      //  }
      //
      //  .border-rect__class {
      //    stroke: $base-color-blue;
      //    fill: #fff;
      //    stroke-width: 4;
      //    stroke-dasharray: 20;
      //  }
      //}
      .item__text-last {
        width: 100%;
        height: 100%;
        background: url("/img/aboutUs/bg_2.png") bottom no-repeat;
        background-size: contain;


        .text-last{
          position: absolute;
          max-width: 460px;
          font-size: 24px;
          font-weight: 400;
          line-height: 29.35px;
          bottom: 80px;
          left: 0;
          z-index: 2;

          @media (max-width: 1200px){
            max-width: 480px;
          }
          @media (max-width: 992px){
            max-width: 350px;
            font-size: 22px;
            bottom: 50px;
            left: 10px ;
          }
          @media (max-width: 767px){
            //max-width: 350px;
            font-size: 20px;

          }
        }
      }
      .item__img-kids, .item__img-class {
        position: absolute;
        max-width: 488px;
        border-radius: 30px;

        & img {

          width: 100%;
        }
      }
      .img-class {
        top: 0;
        right: 32px;
      }
      .img-class:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='31' ry='31' stroke='%23018FA3FF' stroke-width='7' stroke-dasharray='31%2c 33%2c 30' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
        background-size: contain;
        top: 32px;
        right: -32px;
        z-index: -1;
      }
      .img-kids {
        position: relative;
        bottom: 32px;
        left: 32px;
      }
      .img-kids:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='31' ry='31' stroke='%23018FA3FF' stroke-width='7' stroke-dasharray='31%2c 33%2c 30' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
        background-size: contain;
        bottom: -32px;
        left: -32px;
        z-index: -1;

      }

    }
  }
}
//aboutUs__destinations==========================

.englishLanguage {

  grid-area: englishLanguage;
}
.trainingForSchool {
  grid-area: trainingForSchool;
}
.superMemory {

  grid-area: superMemory;
}
.groupExtendedDays {

  grid-area: groupExtendedDays;
}
.centralBlock {

  grid-area: centralBlock;
}
.aboutUs__destinations {
  padding: 107px 0 0 0;
  margin-bottom: 80px;

  .aboutUs__destinations_block {
    display: grid;
    height: 720px;

    @media (max-width: 992px){
      height: 680px;
    }

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "arithmetic         centralBlock        centralBlock        calligraphy"
      "speedReading       centralBlock        centralBlock        englishLanguage"
      "trainingForSchool  centralBlock        centralBlock        superMemory"
      "trainingForSchool  groupExtendedDays   groupExtendedDays   superMemory";

    .destinations_block__item {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 140px;
    }
    .item__text{
      font-size: 24px;
      font-weight: 400;
      line-height: 122.29%;
      text-align: center;

    }
    .arithmetic {
      position: relative;
      grid-area: arithmetic;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item {
        right: 0;
      }
    }
    .calligraphy {
      position: relative;
      grid-area: calligraphy;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        left: 0;
      }
    }
    .speedReading {
      position: relative;
      grid-area: speedReading;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        left: 20%;
        top: 20%;
      }
    }
    .englishLanguage {
      position: relative;
      grid-area: englishLanguage;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        right: 20%;
        top: 20%;
      }
    }
    .trainingForSchool {
      position: relative;
      grid-area: trainingForSchool;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        right: 0;
        top: 20%;
      }
    }
    .superMemory {
      position: relative;
      grid-area: superMemory;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        left: 0;
        top: 20%;
      }
    }
    .groupExtendedDays {
      position: relative;
      grid-area: groupExtendedDays;

      & img {
        @media (max-width: 820px){
          max-width: 100px;
        }
      }

      .destinations_block__item{
        left: 37%;
      }
    }
    .centralBlock {
      display: grid;
      //position: relative;
      grid-area: centralBlock;
      align-items: center;
      justify-items: center;

      & img {
        @media (max-width: 820px){
          max-width: 273px;
        }
        @media (max-width: 640px){
          max-width: 200px;
        }
      }





      .destinations_block__item{
        //top: 15%;
        //left: 20%;
        max-width: 373px;
        //align-content: center;


        @media (max-width: 820px){
          max-width: 273px;
        }
        @media (max-width: 640px){
          max-width: 200px;
        }
      }
    }
  }

}

//catalog==========================================
.catalog {

  width: 100%;
  background:  #F6FAFF url("/img/catalog/catalog_bg.png") left no-repeat;
  //padding: 0 20px;

  .catalog__block {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;




    .swiper-button-prev {
      color: inherit;
      left: 0;
    }
    .swiper-button-next {
      color: inherit;
      right: 0;
    }

    .catalog__container {
      padding: 68px 0 80px 0;

      .catalog__header {
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        //    margin-bottom: 68px;
      }
      .catalog__slider_block {
        margin-top: 68px;
        .mySwiper {
          width: 100%;
          .swiper-wrapper {

            .swiper-slide {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              min-height: 780px;
              background-color: #fff;
              border-radius: 30px;
              box-shadow: 0 52px 34px -27px rgba(225, 225, 225, 0.15);
              overflow: hidden;

              .slide__header {
                display: flex;
                height: 80px;
                align-items: center;
                justify-content: center;
                padding: 10px;


                .slide__header_title {
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 29px;
                  color: #FFFFFF;
                  text-transform: uppercase;
                  text-align: center;
                }
              }
              .slide__body {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;


                .slide__body_header {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  //justify-content: space-between;
                  align-items: center;
                  padding: 60px 0;

                  .header__body-slide_title{
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 58.7px;
                    padding-bottom: 20px;
                  }
                  .header__body-slide_age{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                  }
                  .header__body-slide_lessons{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                    text-align: center;
                  }
                }

                .slide__body_items{
                  .hidden{
                    display: none;
                  }
                  .hidden_btn{
                   // width: 300px;
                   // height: 50px;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29.35px;
                    color: $base-color-blue;
                    background-color: #fff;
                    border: 0;
                    padding: 0;

                    &:hover{
                      cursor: pointer ;
                    }
                  }
                }

              }
              .slide__btn-block {

                height: 128px;

                display: flex;

                 justify-content: center;



                     .slide__button {
                       display: flex;
                      height: 58px;
                      padding: 20px 60px;
                       align-items: center;
                      border-radius: 40px;
                       text-align: center;
                       color: #FFFFFF;
                       font-size: 24px;
                       font-weight: 500;
                       line-height: 29.35px
                     }
              }

            }
          }

        }
      }
    }
  }


}
//.catalog {
//  //position: relative;
//  width: 100%;
//  background: #F6FAFF url("/img/catalog/catalog_bg.png") top no-repeat;
//  padding: 68px 0 80px 0;
//
//  .catalog__slider{
//    position: relative;
//    max-width: 1400px;
//    margin: 0 auto;
//
//    .hidden {
//      display: none;
//    }
//
//
//  }
//
//  .catalog__header {
//    font-size: 48px;
//    font-weight: 600;
//    text-align: center;
//    margin-bottom: 68px;
//  }
//
//  .swiper-button-prev , .swiper-button-next {
//    position: absolute;
//    color: $base-font-color;
//
//  }
//  .swiper-button-prev {
//
//  }
//
//}
//.mySwiper {
//
//  width: 100%;
//  min-height: 780px;
//
//
//
//  .swiper-slide {
//    display: flex;
//    min-height: 780px;
//    font-size: 18px;
//    flex-direction: column;
//    justify-content: space-between;
//    background: #FFFFFF;
//    border-radius: 30px;
//    box-shadow: 0 52px 34px -27px rgba(225, 225, 225, 0.15);
//
//    //overflow: hidden;
//
//    .slide__header {
//      display: flex;
//      width: 100%;
//      height: 80px;
//      align-items: center;
//      justify-content: center;
//      padding: 10px;
//
//      .slide__title{
//        font-size: 24px;
//        font-weight: 700;
//        line-height: 29px;
//        color: #FFFFFF;
//        text-transform: uppercase;
//        text-align: center;
//
//        @media (max-width: 992px) {
//          font-size: 22px;
//
//        }
//      }
//
//    }
//    .slide__body{
//      flex: 1 1 auto;
//      width: 100%;
//      padding: 0 10px;
//      //display: flex;
//      //flex-direction: column;
//      //justify-items: flex-start;
//
//      .slide__body_header {
//        display: flex;
//        flex-direction: column;
//        gap: 8px;
//        //justify-content: space-between;
//        align-items: center;
//        padding: 60px 0;
//
//        .header__body-slide_title {
//          font-size: 48px;
//          font-weight: 600;
//          line-height: 58.7px;
//          padding-bottom: 20px;
//        }
//
//        .header__body-slide_age {
//          font-size: 24px;
//          font-weight: 400;
//          line-height: 29px;
//        }
//
//        .header__body-slide_lessons {
//          font-size: 24px;
//          font-weight: 400;
//          line-height: 29px;
//          text-align: center;
//        }
//      }
//
//      .slide__body_items {
//        display: flex;
//        flex-direction: column;
//        gap: 24px;
//        font-size: 24px;
//        font-weight: 400;
//        //line-height: 29.32;
//        text-align: center;
//
//
//
//
//      }
//    }
//    .slide__button_block {
//      display: flex;
//      flex: 1 1 auto;
//      justify-content: center;
//      align-items: center;
//      //padding: 20px 0 60px 0;
//
//      .slide__button {
//        display: flex;
//        height: 58px;
//        padding: 20px 60px;
//        align-items: center;
//        border-radius: 40px;
//        text-align: center;
//        color: #FFFFFF;
//        font-size: 24px;
//        font-weight: 500;
//        line-height: 29.35px
//      }
//
//    }
//
//  }
//}

//certificates======================================
.certificates {
  width: 100%;
  min-height: 440px;


  .certificates__container {
    background: url("/img/certificates/certificates_bg.png")  no-repeat;
    background-size: contain;
  }

  .certificates__header{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
  }
  .certificates__items {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
    //flex-wrap: wrap;


    .item__image {
      height: 200px;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
}
//reviews====================================================================
.reviews{
  .reviews__header{
    font-size: 48px;
    font-weight: 600;
    line-height: 58.7px;
    text-align: center;
  }
  .reviews__slider_block {
    margin: 60px 0;
    .myReviewsSwiper{
      width: 100%;
      height: 284px;
      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          border: 4px solid #018FA3;
          border-radius: 30px;
          padding: 36px 24px 36px 36px;

          .slide__reviews_title {
            display: flex;
            gap: 20px;
            text-align: left;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
            line-height: 29.35px;
            padding-bottom: 12px;
          }
          .slide__reviews_text {
            font-size: 20px;
            font-weight: 400;
            line-height: 24.46px;
            text-align: left;

          }
        }

      }
      .swiper-button-prev , .swiper-button-next {
        color: $base-font-color;
      }
    }
  }
}
//contacts=========================================
.contacts {
  width: 100%;
  .contacts__container{
    .contacts__block {
      position: relative;
      height: 654px;
      background: url("/img/contacts/bg_3.png") no-repeat;
      background-size: contain;


      .contacts__block_address{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        width: 590px;
        height: 540px;
        background-color: $base-color-blue;
        top: 134px;
        border-radius: 30px;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.35px;
        padding: 12px 40px 38px 40px;


        .contacts__title{
          font-size: 48px;
          font-weight: 500;
          line-height: 58.7px;
          text-align: center;

        }
        .contacts__date{
          font-weight: 400;
          padding-top: 8px;
        }
        a.contacts__date{
          display: block;
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .contacts__map {
      .contacts__map_container{
        padding: 72px 0;
        .map__block {
          display: flex;
          align-items: center;
          align-content: center;
          justify-items: center;
          justify-content: center;
          width: 100%;

          background: url("/img/contacts/bg_2.png") center no-repeat;
          //background-size: contain;

          .map__contacts{
            width: 794px;
            height: 539px;
            background: url("/img/contacts/map.jpg") no-repeat;
            background-size: contain;
            border-radius: 20px;

          }
        }
      }
    }
  }
}
//footer====================================================================
.footer{
  width: 100%;

  background-color: #0A2530;
  .footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;

    .footer__logo{
      width: 102px;
      height: 88px;
      overflow: hidden;
    }

    .footer__menu{
      .footer__menu_items{
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .item__menu a{
          font-size: 24px;
          font-weight: 500;
          line-height: 29.35px;
          color: #fff;
        }
      }
    }

    .footer__lable{
      width: 157px;
      height: 51px;
    }
  }
}
